.map {
  width: 70%;
  height: 60vh;
  border-radius: 15%;
  margin: 3%;
}

.card {
  width: 20%;
  background-color: white;
  height: 20vh;
  border-radius: 10%;
  display: grid;
  margin-left: 90%;
  margin-top: -58%;
  z-index: 10;
  place-items: center;
}

.detail {
  display: flex;
  margin-top: -60px;
  align-items: center;
  justify-content: center;
}
